.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4.25rem;
  color: white;
  background-color: white;
  padding-left: 2rem;
  padding-right: 2rem;
  user-select: none;
}

.header__wrapper {
  display: flex;
  align-items: center;
}

.header__index {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__title {
  font-family: Arial, sans-serif;
  color: var(--blue);
  font-style: inherit;
  margin-left: 10px;
  font-size: 2rem;
}

.header__navigation {
  margin-left: 3rem;
}

.navigation__list {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.list__item {
  font-size: 1.1rem;
}

.list__item:after {
  display: block;
  content: '';
  border-bottom: solid 2px white;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}

.list__item:hover:after {
  transform: scaleX(1);
}

.header__auth {
  font-size: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  transition: color, background-color ease-in-out 0.2s;
  cursor: pointer;
  background: var(--blue);
}

.profile__dropdown_opened {
  transition: transform 0.3s ease-in-out;
  transform: rotateX(180deg);
}

.right_side {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header__button,
.header__chats,
.header__burger {
  transition: transform 0.3s ease-in-out;
}

.header__button:hover,
.header__chats:hover,
.header__burger:hover {
  transform: scale(1.1);
}

@media (max-width: 600px) {
  .profile__picture {
    display: none;
  }
  .profile__dropdown_opened,
  .profile__arrowPicture {
    width: 2rem;
    height: 2rem;
  }

  .header__auth {
    padding: 0.5rem;
    font-size: 14px;
  }

  .header__chats {
    display: none;
  }
}